* {
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #323E40;
}

body {
    width: 100%;
    height: 100vh;
}

@media (max-width:479px) {
 
    .sin-lineas{
        text-decoration:none;
    }
    nav{
        background-color: #ffcc00 ;
        padding: 10px;
    }
    h1{
        font-size: 2rem;
    }
    span{ 
        background-color: lightcyan;
        color: #8f8989 ;
        margin-left:6px;
        padding: 20px;
        width: 150px;
        height: 20px;
    }
    span:hover{
        border-style: dotted dashed solid double   
    }
    #productos,#chef{
            background-color: #f5f1b8;
    }
    footer{
        background-color: #f2f547;
        color: black;
    }
    .logo{
        width: 100px;
    }

    #grid-area {
        display: grid;
        grid-template-areas:
    
        "menu"
        "cabeza"
        "productos"
        "chef"
        "pie"
         ;
       grid-template-columns: 100%;
       grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
       
    }
    
    header {
        grid-area: cabeza;
     }
     footer {
        grid-area: pie;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
     }
    #productos {
        grid-area: productos; 
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
     }
    #chef {
        grid-area: chef;  
        display: flex;
     }
     nav {
        grid-area: menu;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;
     }
     .titulo-1{
         margin-bottom: 45px;
     }
     .banner{
       float: left;
        margin-left:4vw;
        width: 400px; 
     }
     .posicion-img{
        float: right;
        margin-right: 10%;
        width: 400px;
    }
     .img-f{
    width: 40px;
     }
     .tamaño{
        width:415px;
    }

img.tamaño {width: 3;}
     @font-face{
        font-family: "montserrat";
        src: url(./Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
    }
     p{
        font-family: "montserrat";
       }
       .negrita {
           font-style: oblique;
           font-weight: bold;
       }
       .normal{ 
        font-style: normal;
        font-weight: normal;
        line-height: 2;
        }
     .texto-grande{
           font-size: 35px;
           text-align: justify;
       }
    .margen-uno{
        margin-left: 4%;
        margin-bottom: 30px;
    }
    .margen-dos{
        margin-top: 20px; 
        margin-bottom: 20px;
        margin-left: 4vw;
    }
    .margen-cuatro{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h3{
        color: rgb(241, 62, 62);
       font-size: 40px;
        font-family: "montserrat";
        font-weight: bolder;
        margin-bottom: 15vw;
    }
    .tipo-texto{
        text-align: center;
        text-decoration: underline;
    }
    .derecha{
        margin-right: 30px;
    }
    .izquierda{
        margin-left: 30px;
    }
    .ala-derecha{
        text-align: right;
        margin-right: 200px;
        margin-bottom: 30vw;
    }
    .fin-p{
        text-align: center;
    }
}

@media only screen and (min-width: 480px) and (max-width:1023px){
  
    .sin-lineas{
        text-decoration:none;
    }
    nav{
        background-color: #ffcc00 ;
        padding: 10px;
    }
    h1{
        font-size: 2rem;
    }
    span{ 
        background-color: lightcyan;
        color: #8f8989 ;
        margin-left:6px;
        padding: 20px;
        width: 150px;
        height: 20px;
    }
    span:hover{
        border-style: dotted dashed solid double   
    }
    #productos,#chef{
            background-color: #f5f1b8;
    }
    footer{
        background-color: #f2f547;
        color: black;
    }
    .logo{
        width: 100px;
    }
    
    #grid-area {
        display: grid;
        grid-template-areas:
    
        "menu menu menu"
        "cabeza cabeza cabeza"
        "productos productos productos"
        "chef chef chef"
        "pie pie pie"
         ;
       grid-template-columns: 20% auto 15%;
       grid-template-rows: 2fr 3fr 3fr 3fr 1fr;
       grid-column-gap: 5px;
    }
    
    header {
        grid-area: cabeza;
     }
     footer {
        grid-area: pie;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
     }
    #productos {
        grid-area: productos; 
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
     }
    #chef {
        grid-area: chef;  
        display: flex;
     }
     nav {
        grid-area: menu;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;
     }
     .titulo-1{
         margin-bottom: 45px;
     }
     .banner{
       float: left;
        margin-left:4vw;
        width: 400px; 
     }
     .posicion-img{
        float: right;
        margin-right: 10%;
        width: 400px;
    }
     .img-f{
    width: 40px;
     }
     .tamaño{
         width: auto;
     }
     @font-face{
        font-family: "montserrat";
        src: url(./Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
    }
     p{
        font-family: "montserrat";
       }
       .negrita {
           font-style: oblique;
           font-weight: bold;
       }
       .normal{ 
        font-style: normal;
        font-weight: normal;
        line-height: 2;
        }
     .texto-grande{
           font-size: 35px;
           text-align: justify;
       }
    .margen-uno{
        margin-left: 4%;
        margin-bottom: 30px;
    }
    .margen-dos{
        margin-top: 20px; 
        margin-bottom: 20px;
        margin-left: 4vw;
    }
    .margen-cuatro{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h3{
        color: rgb(241, 62, 62);
       font-size: 40px;
        font-family: "montserrat";
        font-weight: bolder;
        margin-bottom: 15vw;
    }
    .tipo-texto{
        text-align: center;
        text-decoration: underline;
    }
    .derecha{
        margin-right: 30px;
    }
    .izquierda{
        margin-left: 30px;
    }
    .ala-derecha{
        text-align: right;
        margin-right: 200px;
        margin-bottom: 30vw;
    }
    .fin-p{
        text-align: center;
    }
}

@media (min-width: 1024px){

    .sin-lineas{
        text-decoration:none;
    }
    nav{
        background-color: #ffcc00 ;
        padding: 10px;
    }
    h1{
        font-size: 2rem;
    }
    span{ 
        background-color: lightcyan;
        color: #8f8989 ;
        margin-left:6px;
        padding: 20px;
        width: 150px;
        height: 20px;
    }
    span:hover{
        border-style: dotted dashed solid double   
    }
    #productos,#chef{
            background-color: #f5f1b8;
    }
    footer{
        background-color: #f2f547;
        color: black;
    }
    .logo{
        width: 100px;
    }
    
    #grid-area {
        display: grid;
        grid-template-areas:
    
        "menu menu menu"
        "cabeza cabeza cabeza"
        "productos productos productos"
        "chef chef chef"
        "pie pie pie"
         ;
       grid-template-columns: 20% auto 15%;
       grid-template-rows: 2fr 3fr 3fr 3fr 1fr;
       grid-column-gap: 5px;
    }
    
    header {
        grid-area: cabeza;
     }
     footer {
        grid-area: pie;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
     }
    #productos {
        grid-area: productos; 
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
     }
    #chef {
        grid-area: chef;  
        display: flex;
     }
     nav {
        grid-area: menu;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;
     }
     .titulo-1{
         margin-bottom: 45px;
     }
     .banner{
       float: left;
        margin-left:4vw;
        width: 400px; 
     }
     .posicion-img{
        float: right;
        margin-right: 10%;
        width: 400px;
    }
     .img-f{
    width: 40px;
     }
     @font-face{
        font-family: "montserrat";
        src: url(./Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
    }
     p{
        font-family: "montserrat";
       }
       .negrita {
           font-style: oblique;
           font-weight: bold;
       }
       .normal{ 
        font-style: normal;
        font-weight: normal;
        line-height: 2;
        }
     .texto-grande{
           font-size: 35px;
           text-align: justify;
       }
    .margen-uno{
        margin-left: 4%;
        margin-bottom: 30px;
    }
    .margen-dos{
        margin-top: 20px; 
        margin-bottom: 20px;
        margin-left: 4vw;
    }
    .margen-cuatro{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h3{
        color: rgb(241, 62, 62);
       font-size: 40px;
        font-family: "montserrat";
        font-weight: bolder;
        margin-bottom: 15vw;
    }
    .tipo-texto{
        text-align: center;
        text-decoration: underline;
    }
    .derecha{
        margin-right: 30px;
    }
    .izquierda{
        margin-left: 30px;
    }
    .ala-derecha{
        text-align: right;
        margin-right: 200px;
        margin-bottom: 30vw;
    }
    .fin-p{
        text-align: center;
    }
}

